
<div >
<form ng-submit= "addbutton()" class="form-horizontal">
    <div class="form-group ">
        <label for="Product ID" class="col-sm-2 control-label ">Product ID:</label>
    	<div class="col-sm-10"><input type="text " class="form-control " placeholder="Product ID" name="id" ng-model="id"/></div>
    </div>
    <div class="form-group">
        <label for="Product name"  class="col-sm-2 control-label" >Product Name</label>
        <div class="col-sm-10">
        	<input type="text " class="form-control" placeholder="Product Name" name="name" ng-model="name"/>
        </div>
    	
    </div>
    <div class="form-group">
        <label for="Product Price" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
        	<input type="number " class="form-control" placeholder="Price" name="price" ng-model="price"/>
        </div>
    	
    </div>
    <div class="form-group">
        <label for="Stock" class="col-sm-2 control-label" >Stock</label>
        <div class="col-sm-10">
        	<input type="text " class="form-control input-sm" placeholder="Stock" name="stock" ng-model="stock"/>
        </div>
    	
    </div>
    <input type="submit" class="btn btn-primary pull-right" value="Add Product"/>	
</form>
</div>