<div>
<table class="table table-stripped" >
		<tr>
			<th>Product ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total Amount</th>
		</tr>
		<tr ng-repeat-start="product in productlist ">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.quantity}}</td>
			<td>{{product.price*product.quantity}}</td>
			<td><button type="button" class="btn btn-default" ng-click="DeleteProduct(product)">
				   <span class="glyphicon glyphicon-trash"></span>
			    </button>
			    <button class="btn btn-default" ng-click="Edit(product.id)" >
				     <span class="glyphicon glyphicon-pencil"></span>
			    </button>
			</td>
			<tr ng-repeat-end>

	</table>
	<div ng-show="show">
				<form ng-submit="UpdateQuantity(productdetail.id)">
			        Quantity:<input type="number" name="quantity" value="{{productdetail.quantity}}" ng-model="productdetail.quantity">
			        <input type="submit" value="submit">
			        <input type="button" value="Cancel" ng-click="cancel()">
		        </form>
			</div>
	
	<p>Total Amount to Pay:{{amount_to_pay}}</p>
</div>		