<nav class="navbar navbar-default" > 
   <div class="container-fluid">
	   	 <div class="navbar-header">
	   	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   	        
	   	        <ul class="nav navbar-nav">
	   	        	<li><a href="#/shopingproduct">Shopping Product</a></li>
	   	        	<li><a href="#/mycart">MyCart</a></li>
	   	        	<li class="dropdown">
					    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Catalog<span class="caret"></span>
					    </a>			    
	                    <ul class="dropdown-menu">
						    <li><a href="#/addproduct">Add Product</a></li>
						    <li><a href=" #/productlist">Product Catalog</a></li>
	                    </ul>
	                </li>
	   	        </ul>   	    	
	   	    </div> 	   	  
	    </div><!--End of nav bar header-->
   </div><!--Container fluid ends here-->
</nav>


    
