<div >

	<table class="table table-stripped table-hover" >
		<tr>
			<th>Product ID</th>
			<th>Name</th>
			<th>Price</th>
			<th>Stock</th>
			<th>Delete/Edit</th>
		</tr>
		<tr ng-repeat-start="product in productlist ">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.stock}}</td>
			<td><button type="button" class="btn btn-default" ng-click="DeleteProduct(product.id)">
				     <span class="glyphicon glyphicon-trash"></span>
			    </button>
			
			    <button class="btn btn-default" ng-click="Editform(product.id)" >
				     <span class="glyphicon glyphicon-pencil"></span>
			    </button>
			</td>
			
			
			<!--Edit form-->
			<div ng-show="show">
				<form class="form-inline">
				    <div class="form-group">
					      <label for="product ID">Product ID:</label>
					      <input type="text" class="form-control" id="id" value="{{productdetail.id}}" placeholder="Product ID" readonly>
				    </div>
				    <div class="form-group">
					      <label for="product name">Product Name:</label>
					      <input type="text" class="form-control" id="name" value="{{productdetail.name}}" placeholder="Product Name" ng-model="productdetail.name" >
				    </div>
				    <div class="form-group">
					      <label for="product Price">Price:</label>
					      <input type="text" class="form-control" id="price" value="{{productdetail.price}}" placeholder="Price" ng-model="productdetail.price">
				    </div>
				    <div class="form-group">
					      <label for="product Stock">Stock:</label>
					      <input type="text" class="form-control" id="price" value="{{productdetail.stock}}" placeholder="Stock" ng-model="productdetail.stock">
				    </div>
					
					
					
					<button ng-click="update(productdetail.id) " class="btn btn-default" value="update" name="update">update</button>
				</form>
			</div>
		<tr ng-repeat-end>
	</table>
</div>