<div id="shopingproduct" >
<header>
<h3>Getting list from Database</h3>
	<form ng-submit="getlist()">
		Minimunm Price<input type="number" value="1"  ng-model="MinPrice">
        Maximum Price<input type="number" value="1000" ng-model="MaxPrice">
        <input type="submit" name="getlist" value="Get List" >
	</form>
	
	<h3>Filter at front End	</h3>
	Search by Product name:<input  ng-model="searchtext.name"><br><br>
	
	<!-- Order By:<input type="text" name="sortorder" ng-model="myOrderBy"> -->
	Min Price:<input type="number" name="minprice" ng-model= "MinimumPrice">
	Max Price: <input type="number" name="maxprice" ng-model="MaximumPrice">
</header>
   <h3>Click the table header(name/price) to change order</h3>
	<table ng-table="tableParams" class="table table-stripped table-condensed"> 
	
		<tr>
			<th>Product ID</th>
			<th ng-click="orderByMe('name')">Name</th>
			<th ng-click ="orderByMe('price')">Price</th>
			<th>Stock</th>
		</tr>
	    <tr ng-repeat-start="product in productlist | filter:searchtext | orderBy: myOrderBy | filter: byRange('price',MinimumPrice,MaximumPrice)" >
			<td >{{product.id}}</td>
			<td >{{product.name}}</td>
			<td >{{product.price}}</td>
			<td >{{product.stock}}</td>  
			<td><form ng-submit="AddToCart(product)" class="form-horizontal" >
			    <div class="form-group col-xs-4">
				<label for="quantity" class="col-sm-2 control-label">Qty:</label>
                <div class="col-sm-10">
                	<input type="number" class="form-control" name="quantity" ng-model="product.quantity"/>
                </div>                
			</div>
			
			<input type="submit" class="btn btn-primary pull-right" value="Add To Cart"> 
            
            </form>
            </td>
		<tr ng-repeat-end>       
	</table>
	<div id="PaginationPlaceholder" ></div>
	

	

</div>